.panel {
    margin: 50px 0;   
}
form {
    margin: 0 0 50px;   
}
form.linkbook {
    display: none;
}
form.linkbook.prevent {
    display: block;
}
form.linkbook.prevent input {
    display: none;   
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.loading-row {
    position: relative;
}
.loading {
    opacity: 0.9;
}
.loader {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 0; right: 0;
    margin: auto;
}

.box {
  width: 45%;
  height: 45%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: load 1s linear infinite;
  -moz-animation: load 1s linear infinite;
  -webkit-animation: load 1s linear infinite;
}
.box:nth-of-type(1) {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}
.box:nth-of-type(2) {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -webkit-animation-delay: -0.25s;
}
.box:nth-of-type(3) {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
.box:nth-of-type(4) {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
  animation-delay: -0.75s;
  -moz-animation-delay: -0.75s;
  -webkit-animation-delay: -0.75s;
}

.prevent-loading {
    display: none;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}