@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400);

body{
background:#ddd;
}



#xcenter{
position:absolute;
top:0px;
left:50%;
margin-left:-490px;
width:980px;
height:1200px;
background:#fff;
-webkit-box-shadow:0 7px 9px #777;
	-moz-box-shadow:0 7px 9px #777;
	box-shadow:0 7px 9px #777;
}

#slideshow {position:absolute;top:0px;left:0px;width:980px;height:220px;margin:0;padding:0;overflow:hidden;}
.imx{position:absolute;overflow:hidden;top:0px;left:0px;width:980px;height:220px;margin:0;padding:0;}

#slideshows {display:none;position:absolute;top:0px;left:0px;width:980px;height:220px;margin:0;padding:0;overflow:hidden;}
#slideshowf {display:none;position:absolute;top:0px;left:0px;width:980px;height:220px;margin:0;padding:0;overflow:hidden;}
#slideshowg {display:none;position:absolute;top:0px;left:0px;width:980px;height:220px;margin:0;padding:0;overflow:hidden;}

.linka{
position:absolute;top:220px;left:0px;
background:#1e355e;width:980px;height:7px;}

.logo{
position:absolute;top:220px;left:100px;width:125px;height:52px;
background: url(../img/logo.png);}

.texto{
position:absolute;
top:300px;
left:0px;
width:980px;
text-align:center;
color:#999;
font-size:33px;
font-family: 'Raleway', sans-serif;
font-weight:100;
}

.pas{
position:absolute;top:400px;left:0px;
background:#f1efeb;width:980px;height:260px;}

.bspanish{
position:absolute;top:-20px;left:100px;
width:216px;height:300px;cursor:pointer;
background:url(../img/spanish.jpg);z-index:1;
}

.bbspanish{
position:absolute;top:0px;left:0px;
width:216px;height:300px;
background:#fff;
opacity:0;z-index:2;
}
.zspanish{
position:absolute;top:125px;left:83px;
width:50px;height:50px;
border-radius:25px;
background:#0a8301 url(../img/ok.png) no-repeat center center;
opacity:0;z-index:4;
}

.bfrench{
position:absolute;top:-20px;left:385px;
width:216px;height:300px;cursor:pointer;
background:url(../img/french.jpg);z-index:1;
}

.bbfrench{
position:absolute;top:0px;left:0px;
width:216px;height:300px;
background:#fff;
opacity:0;z-index:2;
}
.zfrench{
position:absolute;top:125px;left:83px;
width:50px;height:50px;
border-radius:25px;
background:#037ba9 url(../img/ok.png) no-repeat center center;
opacity:0;z-index:4;
}

.bgerman{
position:absolute;top:-20px;right:100px;
width:216px;height:300px;cursor:pointer;
background:url(../img/german.jpg);z-index:1;
}

.bbgerman{
position:absolute;top:0px;left:0px;
width:216px;height:300px;
background:#fff;
opacity:0;z-index:2;
}
.zgerman{
position:absolute;top:125px;left:83px;
width:50px;height:50px;
border-radius:25px;
background:#cd6d0e url(../img/ok.png) no-repeat center center;
opacity:0;z-index:4;
}

.nspanish{
position:absolute;
top:210px;
left:0px;
width:150px;
height:40px;
text-align:center;
color:#fff;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
background:#0a8301;
z-index:3;
}

.nfrench{
position:absolute;
top:210px;
left:0px;
width:150px;
height:40px;
text-align:center;
color:#fff;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
background:#037ba9;
z-index:3;
}

.ngerman{
position:absolute;
top:210px;
left:0px;
width:150px;
height:40px;
text-align:center;
color:#fff;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
background:#cd6d0e;
z-index:3;
}

.lpass{
position:absolute;top:720px;left:0px;
width:980px;
text-align:center;
}
#info{
margin-top:-24px;
margin-bottom:6px;
width:980px;height:24px;
background:none;
border:none;
color:#a60000;
font-size:16px;
line-height:24px;
font-family: 'Raleway', sans-serif;
font-weight:400;
text-align:center;
}

.pass{
width:216px;height:33px;
background:#505050;
border:none;
color:#eee;
font-size:23px;
line-height:33px;
font-family: 'Raleway', sans-serif;
font-weight:100;
text-align:center;
font-style:italic;
}

.submit{
width:50px;height:50px;
border-radius:25px;
background:#505050 url(../img/ok.png) no-repeat center center;
border:none;
cursor:pointer;
}

.dole{
position:absolute;
top:130px;
width:980px;height:30px;
text-align:center;
}

.forgot, .contact{
color:#999;
font-size:17px;
font-family: 'Raleway', sans-serif;
text-align:center;
cursor:pointer;
font-weight:300;
}
.forgot:hover, .contact:hover{
color:#333;
text-decoration:underline;
}

.espa{
color:#fff;
}

.footer{
position:absolute;
top:900px;
left:0px;
width:780px;
height:150px;
background:#282322;
padding:100px;
padding-top:50px;
}

.emcp{
width:162px;height:48px;
background:url(../img/emcp.png) no-repeat center center;
float:left;
}

.links{
margin-top:15px;
float:right;
}
.xlink{
color:#bbb;
font-family: 'Raleway', sans-serif;
font-weight:400;
font-size:16px;
text-decoration:none;
}
.xlink:hover{
color:#fff;
text-decoration:underline;
}
.fespa{
color:#282322;
}

.linea{
margin-top:70px;
border-bottom:1px #999 solid;
}

.copy{
position:absolute;
top:140px;
left:100px;
color:#bbb;
font-family: 'Raleway', sans-serif;
font-weight:400;
font-size:14px;
line-height:30px;
}

.nml{
color:#bbb;
font-family: 'Raleway', sans-serif;
font-weight:400;
font-size:14px;
text-decoration:none;
padding-left:5px;
}
.nml:hover{
color:#fff;
text-decoration:underline;
}
.social{
position:absolute;
top:140px;
right:100px;
}

p{
line-height:15px;
}

/*-----------------------------------------------------*/

#xmenu{
display:none;
position:absolute;
top:300px;
left:0px;
width:980px;
background:none;
opacity:0;
}

.bgd{
position:absolute;
top:0px;
left:100px;
width:216px;
height:40px;
background:#fff;
}

.mspanish{
position:absolute;
top:0px;
left:100px;
width:216px;
height:40px;
text-align:center;
color:#777;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
z-index:3;
cursor:pointer;
}
.mspanish:hover{
color:#000;
font-weight:400;
}

.mfrench{
position:absolute;
top:0px;
left:385px;
width:216px;
height:40px;
text-align:center;
color:#777;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
z-index:3;
cursor:pointer;
}
.mfrench:hover{
color:#000;
font-weight:400;
}

.mgerman{
position:absolute;
top:0px;
right:100px;
width:216px;
height:40px;
text-align:center;
color:#777;
font-size:27px;
line-height:37px;
font-family: 'Raleway', sans-serif;
font-weight:100;
z-index:3;
cursor:pointer;
}
.mgerman:hover{
color:#000;
font-weight:400;
}

.bgd{
position:absolute;
top:0px;
left:100px;
width:216px;
height:40px;
background:#fff;
}

#xsmenu{
position:absolute;
top:60px;
left:100px;
width:330px;
background:none;
}

.txt{
color:#777;
font-size:17px;
font-family: 'Raleway', sans-serif;
font-weight:300;
cursor:pointer;
}
.txt:hover{
color:#000;
font-weight:400;
}

.mdz{
color:#fff;
}

.ipassport,.ivideos,.inews,.isongs{
display:none;
opacity:0;
position:absolute;

left:0px;
width:980px;
height:300px;
background: -moz-linear-gradient(top, #efefef 0%, #9f9f9f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#9f9f9f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* W3C */
}

.ipassport{top:420px;}
.ivideos{top:720px;}
.inews{top:1020px;}
.isongs{top:1320px;}

#totop{
display:none;
position:fixed;
bottom:0px;
right:0px;
width:100px;
height:30px;
text-align:center;
color:#bbb;
font-size:17px;
line-height:27px;
font-family: 'Raleway', sans-serif;
font-weight:400;
z-index:30;
background:#333;
cursor:pointer;
}

#totop:hover{
color:#eee;

}

.nadpis{
position:absolute;
top:30px;
left:100px;
color:#333;
font-size:23px;
font-family: 'Raleway', sans-serif;
font-weight:300;
z-index:30;
background:none;
}

.help{
position:absolute;
top:30px;
right:100px;
z-index:30;
width:30px;
height:30px;
background:url(../img/help.png) no-repeat center center;
cursor:pointer;
}

.search{
position:absolute;
top:30px;
right:140px;
color:#333;
width:200px;
height:20px;
padding:3px;
padding-left:27px;
font-size:17px;
line-height:21px;
text-align:left;
font-style:italic;
font-family: 'Raleway', sans-serif;
font-weight:300;
z-index:30;
background:#fff url(../img/lupa.png) no-repeat 6px center;
border-radius:11px;
border:1px #333 solid;
resize:none;
overflow:hidden;
}

#ipassportin,#ivideosin,#inewsin,#isongsin{
position:absolute;
top:80px;
left:100px;
width:780px;
height:220px;
z-index:50;
overflow:hidden;
}

.imgnews{
position:relative;
display:inline-block;
width:100px;
height:180px;
background:url(../img/inews.jpg) no-repeat;
cursor:pointer;
text-align:center;
margin-right:5px;
z-index:10000!important;
}


.fback{
position:absolute;
color:#fff;
font-size:14px;
line-height:27px;
text-align:left;
font-style:italic;
font-family: 'Raleway', sans-serif;
font-weight:300;
top:95px;
left:0px;
width:80px;
height:30px;
padding-left:9px;
}

.xexp{
position:absolute;
width:100px;
height:180px;
background:url(../img/plus.png) no-repeat center 147px;
background-size:18px auto;
padding-top:164px;
text-align:center;
color:#fff;
font-size:14px;
font-family: 'Raleway', sans-serif;
font-weight:300;
}



.xcol{
display:none;
position:absolute;
width:100px;
height:180px;
background:url(../img/minus.png) no-repeat center 147px;
background-size:18px auto;
padding-top:164px;
text-align:center;
color:#fff;
font-size:14px;
font-family: 'Raleway', sans-serif;
font-weight:300;
}


.mback{
position:absolute;
color:#fff;
font-size:14px;
line-height:23px;
text-align:left;
font-style:italic;
font-family: 'Raleway', sans-serif;
font-weight:300;
top:80px;
width:90px;
height:25px;
padding-left:9px;
z-index:10 !important;
}

.mtitu{
position:absolute;
color:#fff;
font-size:11px;
line-height:14px;
text-align:left;
font-family: 'Raleway', sans-serif;
font-weight:300;
top:105px;
width:155px;
height:15px;
background:rgba(0,0,0,0.5);
padding-left:5px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis; 
}

.tien{
position:relative;
top:-10px;
left:0px;
width:160px;
height:120px;
-moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
    z-index:1!important;
    cursor:pointer;
    z-index:11 !important;
}
.mesesin{
display:inline-block;
position:relative;
height:170px;
z-index:10!important;
}

.mlinka{
/*display:none;*/
position:absolute;
display:inline-block;
top:142px;
height:1px;
left:-40px;
border-bottom:1px #13305f solid;
z-index:10!important;
-moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
}

#inews05{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews05.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews04{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews04.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews03{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews03.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews02{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews02.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews01{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews01.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews12{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews12.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews11{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews11.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews10{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews10.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#inews09{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/inews09.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}

.imgpassport{
position:relative;
display:inline-block;
width:100px;
height:180px;
background:url(../img/ipassport.jpg) no-repeat;
cursor:pointer;
text-align:center;
margin-right:5px;
z-index:10000!important;
}

#ipass05{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass05.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass04{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass04.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass03{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass03.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass02{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass02.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass01{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass01.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass12{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass12.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass11{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass11.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass10{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass10.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#ipass09{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/ipass09.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}

.imgsong{
position:relative;
display:inline-block;
width:100px;
height:180px;
background:url(../img/isongs.jpg) no-repeat;
cursor:pointer;
text-align:center;
margin-right:5px;
z-index:9!important;
}

#isong05{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong05.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong04{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong04.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong03{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong03.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong02{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong02.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong01{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong01.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong12{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong12.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong11{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong11.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong10{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong10.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}
#isong09{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
background:url(../img/isong09.jpg) no-repeat top left;
padding-top:10px;
z-index:10!important;
}


.imgvideos{
position:relative;
display:inline-block;
width:100px;
height:180px;
background:url(../img/ivideos.jpg) no-repeat;
cursor:pointer;
text-align:center;
margin-right:5px;
z-index:10000!important;
}

.mvideo{
/*display:none;*/
display:inherit;
width:165px;
height:160px;
padding-top:10px;
z-index:10!important;
overflow:hidden;
}


.imginvideo{
position:absolute;
top:0px;
width:160px;
height:120px;
z-index:1 !importante;
}

.buska{
position:absolute;
color:#444;
font-size:15px;
text-align:center;
font-family: 'Raleway', sans-serif;
font-weight:400;
top:122px;
width:160px;
height:15px;
font-style:italic;
}

.fpass{
display:none;
height:100px;
width:340px;
position:absolute;
top:700px;
left:300px;
z-index:10000 !important;
padding:20px;
-moz-box-shadow: 1px 1px 9px #888;
    -webkit-box-shadow: 1px 1px 9px #888;
    box-shadow: 1px 1px 9px #888;

    background:#fefefe;
}

#femail{
font-size:15px;
height:20px;
width:320px;
padding:5px;
text-align:center;
}

#spass{
font-size:15px;
min-height:20px;
width:220px;
padding:5px;
color:#fff;
background:#1e355e;
border:1px #999 solid;
cursor:pointer;
margin-top:20px;
margin-left:60px;
}