@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@font-face{font-family:emclIcons;src:url(fonts/emclIcons.eot?-d6xjjw);src:url(fonts/emclIcons.eot?#iefix-d6xjjw) format('embedded-opentype'),url(fonts/emclIcons.woff?-d6xjjw) format('woff'),url(fonts/emclIcons.ttf?-d6xjjw) format('truetype'),url(fonts/emclIcons.svg?-d6xjjw#emclIcons) format('svg');font-weight:400;font-style:normal}

body{
    background:#ddd;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.color:hover {
    background-color: #1e355e;   
}
.clearfix {
    clear: both;   
}

#xcenter{
    margin: auto;
    width:980px;
    background:#fff;
    -moz-box-shadow:0 7px 9px #777;
    box-shadow:0 7px 9px #777;
}

.hero {
    position: relative;
    border-bottom: 7px solid #1e355e;
}
.hero img {
    display: block;   
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 80px 10px rgba(0,0,0,0.8) inset;
}
.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

.footer{
    background:#282322;
    padding: 100px;
    padding-top: 50px;
}

.emcp{
    width:162px;height:48px;
    background:url(../img/emcp.png) no-repeat center center;
    float:left;
}

.links{
    margin-top:15px;
    float:right;
}
.xlink{
    color:#bbb;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size:16px;
    text-decoration:none;
}
.xlink:hover{
    color:#fff;
    text-decoration:underline;
}
.fespa{
color:#282322;
}

.linea{
margin-top:70px;
border-bottom:1px #999 solid;
}

.copy{
    color:#bbb;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height:30px;
    margin-top: 20px;
}

.nml{
color:#bbb;
font-family: 'Raleway', sans-serif;
font-weight:400;
font-size:14px;
text-decoration:none;
padding-left:5px;
}
.nml:hover{
color:#fff;
text-decoration:underline;
}
.social{
    float: right;
    margin-top: 20px;
}

p{
line-height:15px;
}

/*-----------------------------------------------------*/

.xmenu {
    padding: 60px 100px 30px;   
}
.levels {
    margin-bottom: 25px;   
}
.size3, .size4, .size5 {
    float: left;
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000;
    padding: 10px 0;
    background: transparent;
    cursor: pointer;
}
.size3:hover, .size4:hover, .size5:hover {
    color: #FFF;   
}
.size3 {
    width: 260px;
}
.size4 {
    width: 195px;
}
.size5 {
    width: 156px;
}
.level-selected {
    background-color: rgba(30, 53, 94, 1);
    color: #FFF;
}
.units p {
    display: none;   
}


.slice, .sliced {
    display: none;
    position: relative;
    padding: 30px 100px;
    background: -moz-linear-gradient(top, #efefef 0%, #9f9f9f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#9f9f9f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#9f9f9f 100%); /* W3C */
    overflow: hidden;
}
h2.unit-title {
    padding: 0 0 20px;
    margin: 0;
}

#totop{
    opacity: 0;
    position:fixed;
    bottom:10px;
    right:20px;
    text-align:center;
    color:#bbb;
    font-size:24px;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    z-index:30;
    background:#333;
    cursor:pointer;
    padding: 16px;
    border-radius: 3px;
    line-height:1;
}

#totop:hover{
    background:#282322;
    color:#eee;
}
#totop:after {
    content: '\21E7';   
}

.anim {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;   
}

.resource_item {
    height: 135px;
    width: 100px;
    background-color: #E2E2E2;
    position: relative;
}
.resource_label {
    color: #000;
    background: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 48px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    line-height: 1;
}
.resource_item .resource_label {
    bottom: 0px;
    font-size: 13px;
    padding: 10px 5px;
    word-wrap: break-word;
}
.resource_item:after {
    color: #FFF;
    font-size: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 20px;
    background-color: #1e355e;   
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    line-height: 1;
}
.resource_item.workbook:after {
    content: 'WB';
}
.resource_item.grammar:after {
    content: 'GV';
}
.resource_item.listening:after {
    content: 'LA';
}
.resource_item.audio:after {
    content: '';
    background-image: url('../img/listening.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}
.resource_item.video:after {
    content: '';
    background-image: url('../img/video.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}
.resource_item.communicative:after {
    content: 'CA';
}
.resource_item.tprs:after {
    content: 'TPRS';
    font-size: 18px;
}
.resource_item.quizzes:after {
    content: 'Q';
}
.resource_item.tests:after {
    content: 'T';
}
.resource_item.teachers:after { 
    content: 'ATE';
}
.cover-communicative .resource_label {
    font-size: 12px;
    padding: 10px 0;
}
.cover-student .resource_label, .cover-video .resource_label {
    padding: 6px 0;
}
.cover-grammar .resource_label, .cover-teachers .resource_label {
    font-size: 15px;
    padding: 6px 0;
}

.resource_item-link {
    display: block;   
    height: 135px;
    width: 100px;
    float: left;
    margin: 0 15px 0 0;
}
.slidee li {
    height: 180px;
}
.resource-cover {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
    z-index: 10000!important;
    float: left;
    background-size: 100%;
}

.frame { width: 100%; height: 135px; padding: 0; overflow: visible !important; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 25px 0 0; padding: 0; height: 100%; position: relative; }

.scrollbar { 
    width: 100%;
    height: 10px;
    margin-top: 20px;
}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
}

.resource_individuals {
    display: none;
    margin: 0 5px 0 0 !important;
}

.cover-iculture, .cover-flipgrid, .cover-avenue {
    background-color: #EFEFEF;
}
.cover-iculture:after, .cover-flipgrid:after, .cover-avenue:after {
    font-family: emclIcons;
    font-size: 50px;
    position: absolute;
    top: 14px;
    left: 22px;
    padding: 3px;
    background-color: #FFF;
    border-radius: 50%;
}
.cover-iculture .resource_label, .cover-flipgrid .resource_label, .cover-avenue .resource_label {
    bottom: 10px;
}
.cover-iculture:after {
    content: "\e62f";
    color: #0f5796;
}
.cover-flipgrid:after {
    content: "\e630";
    color: #8dd431;
}
.cover-avenue:after {
    content: "\e632";
    color: #f9bf00;
}
.resource_item.student:after, .resource_item.teachers:after {
    content: '\e600';
    font-family: emclIcons;
    color: #FFF;
    font-size: 30px;
    padding: 10px 0;
    height: 30px;
}
.resource_item.iculture:after, .resource_item.flipgrid:after, .resource_item.avenue:after {
    font-family: emclIcons;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1e355e;
    border-radius: 3px;
    height: 30px;
    width: 60px;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    
}
.resource_item.iculture:after {
    content: "\e62f"; 
}
.resource_item.flipgrid:after {
    content: "\e630";
}
.resource_item.avenue:after {
    content: "\e632";
}

.select-style {
    border: 1px solid #ccc;
    width: 100px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    position: absolute;
    top: 30px;
    right: 100px;
    cursor: pointer;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.hiddenlesson, .hiddeninteraction_type {
    display: none !important;   
}
.select-interaction_type {
    display: none;
    width: 150px;   
}
.lessonFilterSelected {
    right: 260px;   
}
.info-icon {
}
.info_icon:after {
    content: '\e615';
    position: absolute;
    top: 3px;
    right: 6px;
    font-family: emclIcons;
    color: #000;
    font-size: 17px;
    cursor: pointer;
    z-index: 5;
}
.info_icon.toggled:after {
    content: '\e633' !important;   
}
.resource_modal_info {
    display: none;
    position: absolute;
    top: -50px;
    z-index: 999999;
    left: 107px;
    background: #FFF;
    width: 150px;
    padding: 25px;
    box-shadow: 0px 2px 5px 1px #777;
    color: #000;
    font-size: 14px;
    cursor: default;
}
.resource_modal_info:before, .resource_modal_info:after {
    content: '';
    position: absolute;
    background: #FFF;
}
.resource_modal_info:before {
    content: '';
	width: 20px; 
	height: 20px; 
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	box-shadow: 0px 2px 5px 1px #777;
    left: -10px;
    top: 50px;
}
.resource_modal_info:after {
	width: 20px; 
	height: 40px; 
    left: 0px;
    top: 39px;
}
.modalClose {position: absolute;
    top: -25px;
    right: -25px;
    background-image: url('../img/modalClose.gif');
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.modalClose:hover {
    opacity: 0.75;   
}
.noneAvailable:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100px; height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
}
.modalBackground {
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modalContainer {
    position: absolute;
    background: #FFF;
    padding: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 780px;
    height: 400px;
    margin: auto;
    box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.8);
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.modalContainer .resource-cover {
    height: 270px;
    width: 200px;
    margin: 0 50px 0 0;
}
.modalContainer div[class^="resource-cover cover-avenue"], .modalContainer div[class^="resource-cover cover-flipgrid"], .modalContainer div[class^="resource-cover cover-iculture"] {
    font-family: emclIcons;
    background: #E2E2E2;
    font-size: 150px;
    padding: 60px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.modalContainer div[class^="resource-cover cover-avenue"]:after, .modalContainer div[class^="resource-cover cover-flipgrid"]:after, .modalContainer div[class^="resource-cover cover-iculture"]:after {
    border-radius: 50%;
    background-color: #FFF;
    padding: 5px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);

}
.modalContainer div[class^="resource-cover cover-avenue"]:after {
    content: "\e632";
    color: #f9bf00;   
}
.modalContainer div[class^="resource-cover cover-flipgrid"]:after {
    content: "\e630";
    color: #8dd431;
}
.modalContainer div[class^="resource-cover cover-iculture"]:after {
    content: "\e62f";
    color: #0f5796;
}
.modalContainer div[class^="resource-cover cover-audio"] {
    background-image: url('http://apps.emcp.com/resources/img/audio-cover.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1e355e;
}